extends layout

block content
  div.hover-stuff
    i#full-screen-video.fa.fa-arrows(style='display:none')
      i Enable Full Screen
  #video


  .welcome-message
    p Welcome to #{title}
    button#load_video.btn.btn-default.btn-lg Load Video Stream

block footer
  footer#footer
    #show_controller.btn.btn-xs.btn-default
      .controllerBtn#hideBtn
      i.chevron.fa.fa-chevron-up
      .controllerBtn#showBtn Show Controller Input
    #controller_input
      #controller.controller
        #axes.axes.controller
