doctype html
html
  head
    title= title

    link(rel='stylesheet', href="{{ url_for('static', filename='styles/styles.css')}}")
    link(rel='stylesheet', href="{{ url_for('static', filename='styles/video-js.css')}}")
    link(rel='stylesheet', href="{{ url_for('static', filename='styles/font-awesome.min.css')}}")
    link(rel='stylesheet', href="{{ url_for('static', filename='styles/bootstrap.min.css')}}")

    script( src="{{ url_for('static', filename='javascript/video.js')}}")
    script( src="{{ url_for('static', filename='javascript/jquery-2.1.4.min.js')}}")
    script( src="{{ url_for('static', filename='javascript/bootstrap.min.js')}}")
    script( src="{{ url_for('static', filename='javascript/socket.io.min.js')}}")
    script( src="{{ url_for('static', filename='javascript/gamepad.js')}}")
    script( src="{{ url_for('static', filename='javascript/accel.js')}}")
    script( src="{{ url_for('static', filename='javascript/compass.js')}}")
    script( src="{{ url_for('static', filename='javascript/videoplayer.js')}}")
    script( src="{{ url_for('static', filename='javascript/jquery-bootstrap-growl.min.js')}}")

  body
    .header
      span.title Rover-Pi
      i.pull-right.fa.fa-gear

    .panel.panel-default(style='margin:5px')
      .panel-content.content
        block content
    block footer

